.info {

    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-form{
    color: #0B0595;
    margin-bottom: 20px;
}

h3{
    font-weight: bold;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filters {
    margin: 15px;
    padding-bottom: 25px;
}


input {
    border:0;
    outline:0;
    width: 100%;
    padding: 2px;
    background-color: #F1F2F6;
    border-radius: 10px;
}

input:focus {outline:none!important;}

table thead {
    background-color: #F1F2F6;
}



