.int_secciones{
    background-color: #fff;
    border-radius: 20px;
    padding: 25px;

}
.secciones{
    padding: 25px;
    background-color: #eaeaea;
    height: 100vh
}
.int_secciones h3{
    color: #0B0595;
}
.formulario{
    background-color: #fff;
}
.form-main .control-label{
    width: 130px;
    font-family: Helvetica;
    font-weight: bolder;
    text-align: left;
}
.form-main .controls {
    margin-left: 130px;
}
.titulo-form{
    color: #0B0595;
}
h3{
    font-weight: bold;
}
.form-control {

    border-radius: 10px;

}