@import "base.css";

.int_secciones h3{
    color: #0B0595;

    padding-top: 70px;

}
.formulario{
    background-color: #fff;
}
.form-main .control-label{
    width: 130px;
    font-family: Helvetica;
    font-weight: bolder;
    text-align: left;
}

.sub_text_datos{
    font-family: Helvetica;
    font-weight: bold;
}

.text_datos{
    font-family: Helvetica;
}

.form-main .controls {
    margin-left: 130px;
}
.titulo-form{
    color: #0B0595;
}
h3{
    font-weight: bold;
}
.form-control {

    border-radius: 10px;

}
.btn-guarda {
    color: #fff;
    background-color: #000098;
    border-color: #000098;
    border-radius: 4px;
}

.seccion{
    height: 75vh;
    padding: 0;

}
.img-seccion{
    width: 180px !important;
    max-width: 180px;
    padding: 0;
}
.item-menu-lateral{
    padding-bottom: 15px;
    padding-top: 15px;

}
.numero{
    width: 25px;

}
.menu-lateral{
    border: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: -1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.menu-lateral-active{
    color: #000098;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.int_secciones>.seccion {
    display: flex;
    justify-content: start;
    align-items: start;
}
.int_secciones>.seccion>.img-seccion {
    scale: 1.4;
}
.hr-menu-lateral{
    height: 20px;
    width:.01vw;
    border-width:0;
    color:#000;
    background-color:#ccc;
    margin-left: 24px;
    margin-bottom: 0;
    margin-top: 0px;


}
.control-label{
    letter-spacing: .1rem;
}
